//--------------------------------------------------------------
// CALCULATORS
//--------------------------------------------------------------

//-----------------------------------------
// All Calculators
//-----------------------------------------
.calculator {

    &.active {
        display: block;
        display: grid;
    }

    .calculator-header {
        padding: 20px;
        text-align: center;
        height: 60%;

        .output-result {
            font-size: 44px;
        }

        h4 {
            font-size: 18px;
        }
    }

    .calculator-body {
        padding: 30px 20px 0 20px;
        background-color: transparent;
    }

    .calculator-section {
        margin-bottom: 30px;

        a {
            text-decoration: underline;
            font-size: 16px;
        }

        label {
            font-size: 16px;
        }

        .info-section {
            margin-top: 10px;

            a {
                font-size: 15px;

            }
        }

    }

    .calculator-footer {
        padding: 30px 20px;
        height: 40%;

        p {
            font-size: 16px;
            text-align: center;
            padding: 0 0 20px 0;
        }

        a {
            display: block;
            width: 50%;
		    margin: 0 auto;
        }
    }

    .calculator-disclosure {
        font-size: 14px;
        padding: 12px 0;
    }
}

//-----------------------------------------
// Calculator Layouts
//-----------------------------------------
.calculator-layout-skinny {
    grid-template-columns: 1fr;

    @include mq($mq-tablet) {
        grid-template-columns: auto;
    }

    .calculator-header {

    }

    .calculator-body {

    }

    .calculator-footer {

    }

}

.calculator-layout-wide {
    max-width: 1240px;
    margin: 0 auto;

    @include mq($mq-tablet) {
        // Use grid
        display: grid !important;
		display: -ms-grid !important;

        // Make calculator grid 2 columns
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }

    .calculator-header {
        // Place second column
        -ms-grid-column: 2;
        grid-column: 2;

        // Place first in column
        -webkit-align-self: start;
        -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;

        // Place in first row
        -ms-grid-row: 1;
        grid-row-start: 1;
    }

    .calculator-body {
        // Place in first column
        -ms-grid-row: 1;
        grid-row: 1;

        padding: 30px 20px 0 20px;;

        @include mq($mq-tablet) {
            padding: 0 20px 0 0;
        }
    }

    .calculator-footer {
        // Place second column
        -ms-grid-column: 2;
        grid-column: 2;

        // Place last in column
        -webkit-align-self: end;
        -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;

        // Place in first row
        -ms-grid-row: 1;
        grid-row-start: 1;
    }

}

//-----------------------------------------
// Tabs
//-----------------------------------------
.calculator-tabs {
    display: flex;
    justify-content: space-between;
    height: 60px;

    .calculator-tab {
        width: 100%; // Each tab fill half the horizontal space
        display: flex; // Need to begin centering items
        justify-content: center; // Center items vertically
        align-items: center; // Center items horizontally
        cursor: pointer;

        &.active {
            background-color: $color-secondary;
            color: $color-white;
            height: 70px;
            margin-top: -8px;
        }
    }
}
