.calculator-investment {

        // Initial Investment
        .calculator-body .calculator-section:nth-child(2) {
            width: 48%;
            float: left;
            margin-right: 4%;
        }

        // Annual Investment
        .calculator-body .calculator-section:nth-child(3) {
            width: 48%;
            float: left;
        }

}
