.calculator-mortgage-payment {

    .calculator-header {

        .output-result {
            margin-bottom: 20px;
        }
    }

    @include mq($mq-tablet) {

        // Amount
        .calculator-body .calculator-section:nth-child(1) {
            width: 48%;
            float: left;
            margin-right: 4%;
        }

        // Down Payment
        .calculator-body .calculator-section:nth-child(2) {
            width: 48%;
            float: left;
        }

        // Result: Property Tax
        // Result: Homeowners Insurance
        .calculator-header .calculator-header-left {
            width: 48%;
            float: left;
            margin-left: 4%;
        }

        // Result: HOA Fee
        // Result: Mortgage Insurance
        .calculator-header .calculator-header-right {
            width: 48%;
            float: left;
        }

    }

    .calculator-header-left,
    .calculator-header-right {
        text-align: left;
    }

}
