.calculator-retirement-savings {

        // Current Age
        // Annual Deposit
        .calculator-body .calculator-section:nth-child(1),
        .calculator-body .calculator-section:nth-child(4) {
            width: 48%;
            float: left;
            margin-right: 4%;
        }

        // Retirement Age
        // Interest Rate
        .calculator-body .calculator-section:nth-child(2),
        .calculator-body .calculator-section:nth-child(5) {
            width: 48%;
            float: left;
        }

}
