.calculator-saving-compounding {

        // Interest Rate
        .calculator-body .calculator-section:nth-child(2) {
            width: 48%;
            float: left;
            margin-right: 4%;
        }

        // Monthly Contribution
        .calculator-body .calculator-section:nth-child(3) {
            width: 48%;
            float: left;
        }

}
