//--------------------------------------------------------------
// Calculator Buttons
//--------------------------------------------------------------

.calculator {

    .calculator-section {

        .button-group {
            display: flex;
            width: 100%;
            margin: 10px 0 0 0;

            &__button {
                display: inline-block;
                position: relative;
                margin: 0 5px 5px 0;
                cursor: pointer;

                // Hide system radio
                input {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    appearance: none;
                    background: none;
                    opacity: .00001;
                    position: absolute;
                    height: 100%;
                    left: 0;
                    top: 0;
                    width: 100%;
                    z-index: 2;
                    margin: 0;
                    cursor: pointer;
                }

                // Style as a button
                label {
                    border-radius: 2em;
                    border: 2px solid $color-primary;
                    color: $color-primary;
                    display: block;
                    padding: .25em .75em;
                }

                // Checked and hover state
                input:checked + label,
                input:hover ~ label,
                label:hover {
                    background: $color-primary;
                    color: $color-white;;
                }

                // Add focus support for ADA
                label:after {
                    content: "";
                    pointer-events: none;
                    position: absolute;
                    border-radius: 2em;
                    border: 2px solid;
                    border-color: rgba(0,0,0,0);
                    bottom: 0;
                    left: 0;
                    right: 0;
                    top: 0;
                }

                // Show focus support for ADA as border
                input:focus ~ label:after  {
                    border-color: $color-primary;
                    bottom: -.25em;
                    left: -.25em;
                    right: -.25em;
                    top: -.25em;
                }

            }

        }

    }

}
