//--------------------------------------------------------------
// Calculator Inputs
//--------------------------------------------------------------

.calculator,
.c-off-canvas--calculator {

    .calculator-section {

        .input-group {
            display: flex;
            width: 100%;
            border-bottom: 2px solid $color-gray;

            input {
                // color: $color-primary;
                font-size: 22px;
                margin: 0;
                padding: 8px 10px;
                border: none;
                background-color: $color-white;
            }

            .pre {
                color: $color-gray;
                font-size: 20px;
                text-align: center;
                padding: 0 10px;
                min-width: 30px;
            }

        }

    }

}

