//--------------------------------------------------------------
// Calculator Selects
//--------------------------------------------------------------

.calculator {

    .calculator-section {

        .select-group {
            display: flex;
            width: 100%;

            select {
                color: $color-primary;
                font-size: 22px;
                margin-top: 10px;
                padding: 10px 14px;
                border: 2px solid $color-gray;
            }

        }

    }

}
