//--------------------------------------------------------------
// Calculator Sliders
//--------------------------------------------------------------

.calculator {

    .calculator-section {
        .slider-output-term::before {
            content:'';
        }
        .slider-output-years::before {
            content:'';
            display: none;
        }
        .slider-output-rate::after {
            content: '%';
        }
        .slider-output-rate::before {
            display: none;
        }
        .slider-output {
            // color: $color-primary;
            font-size: 22px;
            margin: 0;
            padding: 8px 10px;
        }

        .slider-group {
            display: flex;
            width: 100%;
          
            flex-wrap :wrap;
            align-items: center;
            justify-content: space-between;
          
            position: relative;
          
            
         
            
            /**
             * General Input styling
             *
             * As all ranges in a UI should probably look the same, there
             * is no need to use a class here, and the specific type of
             * input, [range], can instead be the selector to specifically
             * target the form control.
             */
            input[type=range] {
            	-webkit-appearance: none;
            	appearance: none;
            	font-size: inherit;
            	margin: 10px 0;
            	width: 100%;
            }

            /**
             * Track
             */
            input[type=range]::-webkit-slider-runnable-track {
            	border: 1px solid $color-gray;
                height: 1px;
            	width: 100%;
            }

            input[type=range]::-moz-range-track {
            	border: 1px solid $color-gray;
            	height: 1px;
            	width: 100%;
            }

            input[type=range]::-ms-track {
            	background: transparent;
            	border-color: transparent;
            	border-width: 1px 0;
            	color: transparent;
            	height: 1px;
            	width: 100%;
                padding: 15px 0 15px 0;
            }

            @media screen and (-ms-high-contrast: active) {
            	input[type=range]::-ms-track {
            		border: 0;
            		margin: 6px 0;
            	}
            }

            input[type=range]::-ms-fill-lower {
            	border: 1px solid $color-gray;
            }

            input[type=range]::-ms-fill-upper {
            	border: 1px solid $color-gray;
            }


            /**
             * Focus Styles
             */
            input[type=range]:focus {
            	outline: 0;
            }

            input[type=range]:focus::-webkit-slider-runnable-track {
            	background: $color-primary;
            }

            input[type=range]::-moz-focus-outer {
            	border: 0;
            }

            input[type=range]:focus::-moz-range-track {
            	background: $color-primary;
            }

            ::-ms-ticks-after,
            ::-ms-ticks-before {
            	color: transparent;
            }

            input[type=range]:focus::-ms-fill-lower {
            	background: $color-white;
            }

            input[type=range]:focus::-ms-fill-upper {
            	background: $color-white;
            }

            input[type=range]:focus::-webkit-slider-thumb {
            	background: $color-white;
            	box-shadow: 0 0 0 2px rgba(60,60,60,.8);
            }

            input[type=range]:focus::-moz-range-thumb {
            	background: $color-white;
            	box-shadow: 0 0 0 2px rgba(60,60,60,.8);
            }

            input[type=range]:focus::-ms-thumb {
            	background: $color-white;
            	box-shadow: 0 0 0 2px rgba(60,60,60,.8);
            }


            /**
             * Thumbs
             */
            input[type=range]::-webkit-slider-thumb {
            	-webkit-appearance: none;
            	background: $color-primary;
            	border-radius: 100px;
            	cursor: grab;
                width: 30px;
            	height: 30px;
            	margin: -15px 0 0;
            	position: relative;
            	z-index: 3;
            }

            input[type=range][disabled]::-webkit-slider-thumb {
            	cursor: not-allowed;
            }

            input[type=range]::-moz-range-thumb {
            	background: $color-primary;
            	border-radius: 100px;
            	cursor: grab;
                width: 30px;
            	height: 30px;
            	position: relative;
            	z-index: 3;
            }

            input[type=range][disabled]::-moz-range-thumb {
            	cursor: not-allowed;
            }

            /**
             * Edge respects the webkit styling here (odd), but
             * IE11 doesn't (correct). To get both browsers
             * to be correctly styled, this is still necessary
             * and the negative margin of the webkit styling
             * needs to be removed.
             */
            input[type=range]::-ms-thumb {
            	background: $color-primary;
            	border-radius: 100px;
            	cursor: grab; /* ms doesn't currently support */
                width: 30px;
                height: 30px;
            	margin: 0;
            	position: relative;
            	z-index: 3;
            }

            input[type=range][disabled]::-ms-thumb {
            	cursor: not-allowed;
            }


            /**
             * When a user specifically 'grabs' the
             * thumb/knob/whatever, change the cursor
             * to the active state.
             */
            input[type=range]:not([disabled])::-webkit-slider-thumb:active {
            	cursor: grabbing;
            }
            input[type=range]:not([disabled])::-moz-range-thumb:active {
            	cursor: grabbing;
            }
            input[type=range]:not([disabled])::-ms-thumb:active {
            	cursor: grabbing; /* ms doesn't currently support */
            }

        }

        .slider-group-min,
        .slider-group-max {
            position: absolute;
            top: 23px;
            
        }
        
      

        .slider-group-min {
            left: 0;
        }
        .slider-group-max {
            right: 0;
        }

        .slider-group-min-rate:after,
        .slider-group-max-rate:after {
            content: '%';
        }
        .slider-group-min-amount:before,
        .slider-group-max-amount:before {
            content : '$';
        }
        .slider-group-min-years:before,
        .slider-group-max-years:before {
            content : '';
        }
    }

}