//--------------------------------------------------------------
// CALCULATORS
//--------------------------------------------------------------

//-----------------------------------------
// All Calculators
//-----------------------------------------
.calculator {

    .calculator-header {
        // background-color: $color-primary;
        // padding: 20px;

        .output-result {
            // color: $color-white;
            // font-size: 44px;
        }

        h4 {
            // color: $color-white;
            // font-size: 18px;
        }
    }

    .calculator-body {
        // padding: 30px 20px 0 20px;
        // background-color: $color-white;
    }

    .calculator-section {
        // margin-bottom: 30px;

        a {
            // font-size: 16px;
        }

        label {
            // font-size: 16px;
        }

        .info-section {
            // margin-top: 10px;

            a {
                // font-size: 15px;

            }
        }

    }

    .calculator-footer {
        // padding: 0 20px 30px;

        p {
            // font-size: 16px;
            // padding: 0 0 20px 0;

            &.calculator-disclosure {
                // font-size: 14px;
                // padding: 12px 0;
            }
        }

        a {

        }
    }
}

//-----------------------------------------
// Calculator Layouts
//-----------------------------------------
.calculator-layout-skinny {

    @include mq($mq-tablet) {

    }

    .calculator-header {

    }

    .calculator-body {

    }

    .calculator-footer {

    }

}

.calculator-layout-wide {

    @include mq($mq-tablet) {

    }

    .calculator-header {

    }

    .calculator-body {

    }

    .calculator-footer {

    }

}

//-----------------------------------------
// Tabs
//-----------------------------------------
.calculator-tabs {
    // height: 60px;

    .calculator-tab {

        &.active {
            // background-color: $color-secondary;
            // color: $color-white;
            // height: 70px;
        }
    }
}

//--------------------------------------------------------------
// Calculator Inputs
//--------------------------------------------------------------

.calculator {

    .calculator-section {

        .input-group {
            // border-bottom: 2px solid $color-gray;

            input {
                // color: $color-primary;
                // font-size: 22px;
                // padding: 8px 10px;
                // background-color: $color-white;
            }

            .pre {
                // color: $color-gray;
                // font-size: 20px;
            }

        }

    }

}

//--------------------------------------------------------------
// Calculator Selects
//--------------------------------------------------------------

.calculator {

    .calculator-section {

        .select-group {

            select {
                // color: $color-primary;
                // font-size: 22px;
                // margin-top: 10px;
                // padding: 10px 14px;
                // border: 2px solid $color-gray;
            }

        }

    }

}

//--------------------------------------------------------------
// Calculator Buttons
//--------------------------------------------------------------

.calculator {

    .calculator-section {

        .button-group {
            // margin: 10px 0 0 0;

            &__button {
                // margin: 0 5px 5px 0;

                // Style as a button
                label {
                    // border-radius: 2em;
                    // border: 2px solid $color-primary;
                    // color: $color-primary;
                    // padding: .25em .75em;
                }

                // Checked and hover state
                input:checked + label,
                input:hover ~ label,
                label:hover {
                    // background: $color-primary;
                    // color: $color-white;;
                }

                // Add focus support for ADA
                label:after {
                    // border-radius: 2em;
                    // border: 2px solid;
                }

                // Show focus support for ADA as border
                input:focus ~ label:after  {
                    // border-color: $color-primary;
                }

            }

        }

    }

}

//--------------------------------------------------------------
// Calculator Sliders
//--------------------------------------------------------------

.calculator {

    .calculator-section {

        .slider-output {
            // color: $color-primary;
            // font-size: 22px;
            // padding: 8px 10px;
        }

        .slider-group {

            /**
             * General Input styling
             *
             * As all ranges in a UI should probably look the same, there
             * is no need to use a class here, and the specific type of
             * input, [range], can instead be the selector to specifically
             * target the form control.
             */
            input[type=range] {
            	// margin: 10px 0;
            }

            /**
             * Track
             */
            input[type=range]::-webkit-slider-runnable-track {
            	// border: 1px solid $color-gray;
            }

            input[type=range]::-moz-range-track {
            	// border: 1px solid $color-gray;
            }

            @media screen and (-ms-high-contrast: active) {
            	input[type=range]::-ms-track {
            		// margin: 6px 0;
            	}
            }

            input[type=range]::-ms-fill-lower {
            	// border: 1px solid $color-gray;
            }

            input[type=range]::-ms-fill-upper {
            	// border: 1px solid $color-gray;
            }


            /**
             * Focus Styles
             */

            input[type=range]:focus::-webkit-slider-runnable-track {
            	// background: $color-primary;
            }

            input[type=range]:focus::-moz-range-track {
            	// background: $color-primary;
            }

            input[type=range]:focus::-ms-fill-lower {
            	// background: $color-white;
            }

            input[type=range]:focus::-ms-fill-upper {
            	// background: $color-white;
            }

            input[type=range]:focus::-webkit-slider-thumb {
            	// background: $color-white;
            }

            input[type=range]:focus::-moz-range-thumb {
            	// background: $color-white;
            }

            input[type=range]:focus::-ms-thumb {
            	// background: $color-white;
            }


            /**
             * Thumbs
             */
            input[type=range]::-webkit-slider-thumb {
            	// background: $color-primary;
            }

            input[type=range]::-moz-range-thumb {
            	// background: $color-primary;
            }

            /**
             * Edge respects the webkit styling here (odd), but
             * IE11 doesn't (correct). To get both browsers
             * to be correctly styled, this is still necessary
             * and the negative margin of the webkit styling
             * needs to be removed.
             */
            input[type=range]::-ms-thumb {
            	// background: $color-primary;
            }

        }

    }

}

//--------------------------------------------------------------
// Calculator Modal
//--------------------------------------------------------------

.calculator {

    a.calculator-modal-trigger {

        svg {
            
        }
    }
}
